<div class="section-matrix">
    <div class="browser-preview">
        <div class="toolbar">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
        <div class="toolbar-starred">
            <img src="https://www.contentstack.com/static/logos/nav-header/cs-1.svg">
        </div>
        <img
            src="https://images.contentstack.io/v3/assets/bltb624e1cf3aa767e9/bltda90b1419e523f42/646afa7216882934bf6d5f8c/Screenshot_2023-05-22_at_10.44.30.png" />

    </div>

    <div class="section-description">
        <h1 class="section-title-1 section-title">Analyze with impact</h1>
        <p class="section-paragraph-1 section-paragraph">Turn your real-time insights into actions</p>
        <div class="sub-section">
            <h1 class="subtitle">Starred Priority Matrix <i class="fas fa-rocket"></i></h1>
            <p class="subtext"> The Starred priority matrix shows you which aspects have the highest
                potential for improvement. All aspects are plotted based on their average satisfaction and
                their impact on NPS or CES.<br>Which improvement will have the highest impact?</p>
        </div>
    </div>
</div> 